.bg1{
  background-color: #004aad;
}
.bg2{
  background-color: #ff914d;
}
.bg3{
  background-color: #ff5757;
}
.bg4{
  background-color: rgb(80, 92, 255);
}
.section{
  padding-top: 10rem;
  padding-bottom: 10rem;
}
.titulo {
  text-align: center;
  font-size: 7rem;
}

p{
  font-size: 1.8rem;
}

.fale-img {
  max-width: 15rem;
}
.fale {
  text-align: center;
}
.navbar-toggler {
  color: #fff;
}

.logo{
  width: auto;
  max-height: 5rem;
  right: 0px;
}
.logo-p {
  max-width: 2rem;
}
.container-fluid{
  padding: 0px;
  margin: 0px;
}

a, a:hover, a:link, a:visited {
  color: black;
  text-decoration: none;
}

.separador{
  width: 10rem;
  height: 10rem;
}

@media (max-width: 600px){
  p{
    font-size: 1.2rem;
  }
  .titulo{
    font-size: 5rem;
  }
  .card{
    margin-top: 1rem;
  }
}